project:
  type: website
  output-dir: docs
  render:
    - index.qmd
    - about.qmd

website:
  title: "CTSG"
  navbar:
    left:
      - href: index.qmd
        text: Анализ публикаций 
      - href: about.qmd
        text: NLP-анализ

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



